---
export interface Props {
	title: string;
	body: string;
	href: string;
    img: string;
}

const { href, title, body, img } = Astro.props;
---
<!-- 
<li class="link-card h-60">
	<a href={href} class="block max-w-sm p-6 border border-gray-200 rounded-lg shadow ">
		<img class="h-28"src="https://images.unsplash.com/photo-1688501935726-d231682e79d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80" alt="">
        <h5 class="mb-2 text-2xl font-bold tracking-tight">
			{title}
			<span>&rarr;</span>
		</h5>
		<p class="font-normal ">
			{body}
		</p>
	</a>
</li>
-->

<li class="link-card">
    <a href={href} target="_blank">
        <img class="w-full h-52 m-auto rounded mb-2" src={img} alt="logo">
        <h5 class="text-2xl mb-2 font-bold tracking-tight">
            {title}
            <span>&rarr;</span>
        </h5>
        <p class="font-normal">
            {body}
        </p>
    
    </a>
</li>